html, body {
	height: 100%;
}

body {
	font-family: "Meera Inimai";
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

h1 {
	font-family: "Monofett";
	font-size: 60px;
}

.height100 {
	height: 100px;
}

#main {
	width: 80%;
	margin: auto;
	flex-grow: 1;
}