html, body {
	height: 100%;
}

body {
	font-family: "Meera Inimai";
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}

h1 {
	font-family: "Monofett";
	font-size: 60px;
	text-align: center;
}

.about-me-card {
	width: 100%;
	margin: auto;
	overflow: auto;
	margin-bottom: 20px;
}

.about-me-card div {
	display: inline;
	width: 50%;
}

.responsive-image {
	width: inherit;
	max-width: 391px;
	float: left;
}

.height100 {
	height: 100px;
}

.float-left {
	float: left;
}

#main {
	width: 75%;
	margin: auto;
	flex-grow: 1;
}

#footer {
	text-align: center;
	height: 60px;
}